body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 800px
}

.display {
    font-size: 44px;
    font-weight: 700;
    word-break: break-word;
    text-align: right;
    padding: 12px 24px;
    width: 100%;
    background-color: grey;
    height: fit-content;
    box-sizing: border-box;
}

.button {
    width: 25%;
    height: 100px;
    background-color: #61ba99;
    font-size: 24px;
}

@media only screen and (max-width: 576px) {
    .display {
        font-size: 40px;
    }
    .button {
      font-size: 20px;
    }
  }
