body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 800px
}
.most-numbers-container {
    display: grid;
}

.display-container {
    height: 100px;
    background-color: grey;
    font-size: 44px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.display {
    margin: 0 24px;
    font-weight: 700
}

.number-buttons-container {
    display: inline-grid;
}
.number-button {
    width: 200px;
    height: 100px;
    background-color: #61ba99;
}
.button {
    font-size: 24px;
}
